.rickshaw_graph {
    position: relative;
}
.rickshaw_graph svg {
    display: block;
    overflow: hidden;
}

.rickshaw_graph .x_tick {
    display: none;
}

.rickshaw_graph .x_tick .title {
    display: none;
}

.chart {
    display: inline-block;
}

.legend {
    display: inline-block;
    float: right;
    background-color: white;
    color: black;
    z-index: 99 !important;
}

.chart_container {
    position: relative;
    top: 20px;
}

#details {
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 0px;
    padding: 0px;
}

.y_axis {
    position: absolute;
    right: 0px;
    margin-right: 0px;
    top: 0px;
    bottom: 0px;
    width: 45px;
    pointer-events: none;
}

.x_axis {
    position: relative;
    left: 0px;
    height: 40px;
}

.chart {
    position: relative;
    left: 0px;
    margin-right: 10px;
}

.yAxisLabel {
    position: absolute;
    top: 0px;
}

.xAxisLabel {
    position: absolute;
    text-align: right;
}
