.rickshaw_graph {
    position: relative;
}
.rickshaw_graph svg {
    display: block;
    overflow: hidden;
}

.rickshaw_graph .x_tick {
    display: none;
}

.rickshaw_graph .x_tick .title {
    display: none;
}

.chart {
    display: inline-block;
}
.legend {
    display: inline-block;
    float: right;
    background-color: transparent;
    color: black;
}
.chart_container {
    position: relative;
    top: 20px;
}

.y_axis {
    position: absolute;
    right: 0;
    margin-right: 10px;
    top: 0;
    bottom: 0;
    width: 45px;
    pointer-events: none;
}

.x_axis {
    position: relative;
    left: 0px;
    height: 40px;
}

.chart {
    position: relative;
    left: 0px;
}

.yAxisLabel {
    position: absolute;
    top: 0px;
}

.xAxisLabel {
    position: absolute;
    text-align: right;
}
